.logo{
    width: 50%;
}
.flex{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.li{
    display: inline-block;
    margin-right: 20px;
}
.icon{
    display: inline-block;
    height: 14px;
}
.divbox{
    height: 60px;
    width: 100%;
    background-color: red;
}
.divbox1{
    padding-top: 1%;
    font-size:20px; 
    margin-left: 2%;
}
.divmap{
    background-color: gray;
    width: 100%;
}
.map{
    margin:0;
    margin-left:0;
    margin-right:0;
}

    .input{
        margin-left: 43%;
        width: 400px;
        padding-top:20px;
        margin:auto;
        box-sizing: border-box;
        border: none;
         border-bottom: 2px solid black;
         background-color: #282828;
         display: flex;
         
    }
    input[type=button] {
        background-color: black;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
      }

.inpu1t{
    background-color: blueviolet;
    width: 100%;
    height: 300px;
}
.sea{
    display: flex;
    margin-top: 1%;
    justify-content: center;
    width: 35%;
    height: 45px;
    margin-right: auto;
    margin-left: auto;
}
.bottom{
    float: right;
    margin-right: 15%;
}
.inpu1t {
    background-color: blueviolet;
    width: 100%;
    height: 300px;
}
@media only screen and (max-width:1064px){
    .whatpo{
        width: 1024px;
    }
}
@media  (max-width:1020px){
    .whatpo{
        width: 768px;
    }
    
}
@media  (max-width:760px){
    .whatpo{
        width: 425px;
    }
   
    .sea{
        width: 90%;
    }
}
@media  (max-width:420px){
    .whatpo{
        width: 375px;
    }
    
    @media  (max-width:370px){
        .whatpo{
            width: 320px;
        }
       