
.logo{
    width: 50%;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items:center;

}
.li{
    display: inline-block;
    margin-right: 20px;
}
.icon{
    display: inline-block;
    height:20px;
}
.div{
 background-color: #BDCCD4;
 height: 90px;
 width: 100%;
}
.P12{
    padding-top: 1%;
    padding-left: 1%;
    float: left;
}
.p123{
    float: right;
    padding-top: 1%;
    padding-right: 1%;
}
.date{
    border: 2px solid gray;
    width: 4%;
    height:50px;
    text-align: center;
    padding-top:15px;
    font-size: larger;
}
.time{
    margin-top: 2%;
    margin-left: 2%;
}
.txy{
    margin-top: 2%;
    width: 58%;
    margin-left: 23%;
}
.txy1{
    margin-top: 2%;
    width:58%;
    margin-left:2%; 
}
.raca{
    margin-top: 2%;
    margin-left: 2%;
    width:58%;
}
.koko{
    background-color:#BDCCD4;
    height: 90px;
    margin-top: 2%;
    width: 100%;
}
.koko1{
    margin-left:2%;
    padding-top:40px;
    
}
.qali{  
    width: 27%;
}
.popo{
    font-size: 28px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.dopo{
    width: 100%;
    background-color: #E6E6E6;
    height: 380px;
}
.popiti {
    float: right;
    width: 76%;
    margin-top: 6%;
    font-size: 27px;
    text-align: center;
    margin-right: 0%;
}
.kaci{  
    width: 17%;
    margin-left: 4%;
}
.basasa{
    background-color: #fff;
    float: right;
    width: 35%;
    height: 220px;
    margin-right: 5%;
}
.h1{
    text-align: center;
    font-size: 22px;
}
.minibox{
    background-color:#fff;
    width: 35%;
    float: left;
    height: 220px;
    margin-left: 5%;
}
.h2{
    text-align: center;
    font-size: 25px;
}
.qali{  
    width: 22%;
}
.a123{
    color: #363E97;
}
@media only screen and (max-width:1064px) {
    .conteiner{
        width: 1024px;
        background-color: aqua;
    }
    .popiti {
        float: right;
        width: 76%;
        margin-top: 6%;
        font-size: 23px;
        text-align: center;
        margin-right: 0%;
    }
    @media  (max-width:1020px){
        .conteiner{
            width: 768px;
        }
        .txy {
            margin-top: 2%;
            width: 77%;
            margin-left: 23%;
        }
        .txy1 {
            margin-top: 2%;
            width: 97%;
            margin-left: 2%;
        }
        .raca {
            margin-top: 2%;
            margin-left: 2%;
            width: 98%;
        }
        .popiti {
            float: right;
            width: 78%;
            margin-top: 5%;
            font-size: 16px;
            text-align: center;
            margin-right: 0%;
        }
        .minibox {
            background-color: #fff;
            width: 35%;
            float: left;
            height: 129px;
            margin-left: 5%;
        }
        .basasa {
            background-color: #fff;
            float: right;
            width: 35%;
            height: 120px;
            margin-right: 5%;
        }
        .dopo {
            width: 100%;
            background-color: #E6E6E6;
            height: 275px;
        }
        @media  (max-width:766px){
.conteiner{
    width: 425px;
}
.popiti {
    float: right;
    width: 78%;
    margin-top: 5%;
    font-size: 16px;
    text-align: center;
    margin-right: 0%;
}
.minibox {
    background-color: #fff;
    width: 89%;
    float: left;
    height: 177px;
    margin-left: 5%;
}
.basasa {
    background-color: #fff;
    float: right;
    width: 90%;
    height: 155px;
    margin-right: 5%;
}
.basasa {
    background-color: #fff;
    float: right;
    width: 90%;
    height: 155px;
    margin-right: 5%;
    margin-top: 5%;
}
.dopo {
    width: 100%;
    background-color: #E6E6E6;
    height: 474px;
}
@media  (max-width:423px){
.conteiner{
    width: 375px;
}
.popiti {
    float: right;
    width: 78%;
    margin-top: 5%;
    font-size: 16px;
    text-align: center;
    margin-right: 0%;
}
.li{
    display: none;
}
.icon{
    display: none;
}
.minibox {
    background-color: #fff;
    width: 89%;
    float: left;
    height: 186px;
    margin-left: 5%;
}

.basasa {
    background-color: #fff;
    float: right;
    width: 90%;
    height: 175px;
    margin-right: 5%;
    margin-top: 5%;
}
.date {
    border: 2px solid gray;
    width: 15%;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    font-size: larger;
}
@media  (max-width:370px){
    .conteiner{
        width: 320px;
    }
    .popiti {
        float: right;
        width: 78%;
        margin-top: 5%;
        font-size: 16px;
        text-align: center;
        margin-right: 0%;
    }
    .date {
        border: 2px solid gray;
        width: 15%;
        height: 50px;
        text-align: center;
        padding-top: 15px;
        font-size: larger;
    }
