
.logo{
    width: 50%;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items:center;

}
.li{
    display: inline-block;
    margin-right: 20px;
}
.icon{
    display: inline-block;
    height:20px;
}
.div{
 background-color: #BDCCD4;
 height: 90px;
 width: 100%;
}
.P12{
    padding-top: 1%;
    padding-left: 1%;
    float: left;
}
.p123{
    float: right;
    padding-top: 1%;
    padding-right: 1%;
}
.date{
    border: 2px solid gray;
    width: 4%;
    height:50px;
    text-align: center;
    padding-top:15px;
    font-size: larger;
}
.time{
    margin-top: 2%;
    margin-left: 2%;
}
.txy{
    margin-top: 2%;
    width: 58%;
    margin-left: 23%;
}
.txy1{
    margin-top: 2%;
    width:58%;
    margin-left:2%; 
}
.raca{
    margin-top: 2%;
    margin-left: 2%;
    width:58%;
}
.koko{
    background-color:#BDCCD4;
    height: 90px;
    margin-top: 2%;
    width: 100%;
}
.koko1{
    margin-left:2%;
    padding-top:40px;
    
}
.qali{  
    width: 27%;
}
.popo{
    font-size: 28px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.dopo{
    width: 100%;
    background-color: #E6E6E6;
    height: 380px;
}
.popiti{
    float: right;
    width: 323px;
    margin-top: 2%;
    font-size: 14px;
}
.kaci{  
    width: 17%;
    margin-left: 4%;
}
.basasa{
    background-color: #fff;
    float: right;
    width: 35%;
    height: 220px;
    margin-right: 5%;
}
.h1{
    text-align: center;
    font-size: 22px;
}
.minibox{
    background-color:#fff;
    width: 35%;
    float: left;
    height: 220px;
    margin-left: 5%;
}
.h2{
    text-align: center;
    font-size: 25px;
}
.qali{  
    width: 22%;
}
.a123{
    color: #363E97;
}