.conteiner{
margin:0 auto;
}
.logo{
    width: 50%;
    float: left;
}
.li{
    display: inline-block;
}
.clas{
    width:5%;
    height: 10%;
}
.div1{
    margin-right: 5%;
}
.icon{
    height: 25px;
    display: inline-block;
    
}
.iconli{
    display: inline-block;
}
.ul{
    text-align: center;
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.box{
    background-color:#E6E6E6;
    width: 100%;
    height:550V px;
}
.poto{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 0%;
    padding-top: 4%;
    
}
.boxb{
    background-color:#363E97;
    height: 500px;
}
.box-min{
    float: left;
    width: 40%;
    height: 380px;
    background-color: wheat;
    margin-top: 2%;
    margin-left:5%;
}
.box-min1{
    float: right;
    width: 40%;
    height: 380px;
    background-color: wheat;
    margin-top: 2%;
    margin-right: 5%;

}
.saba{
    position:absolute;
	margin-top:-10%;
	margin-left:18%;
	font-size:25px;
}
.patas{
    padding: 0 auto;
}
.box-min1{
    text-align: center;
    padding-top: 12%;
}
.box-min{
    text-align: center;
    padding-top: 12%;
}
.minibox{
    background-color:#fff;
    width: 35%;
    float: left;
    height: 220px;
    margin-left: 5%;
} 
.qali {
        width: 23%;
}


.mako0{
    background-color: #BDCCD4;
    width: 100%;
    height: 400px;
}
.mako12{
    width: 14%;
    display: inline-block;
    margin-left: 8%;
    align-items: center;
    margin-top: 5%;
}
.mako{
    display: inline-block;
}
.pele{
    text-align: center;
    background-color: wheat;
    height: 40px;
    padding: auto;
    padding: 5%;
}
.p1234{
    width: 100%;
}
.h2{
    text-align: center;
    font-size: 25px;
}
.popo{
    font-size: 28px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.dopo{
    width: 100%;
    background-color: #E6E6E6;
    height: 380px;
}
.popiti {
    float: right;
    width: 268px;
    margin-top: 15%;
}
.kaci{  
    width:17%;
    margin-left: 4%;
}
.basasa{
    background-color: #fff;
    float: right;
    width: 35%;
    height: 220px;
    margin-right: 5%;
}
.h1{
    text-align: center;
    font-size: 22px;
}
.minilogo {
    width: 12%;
    float: right;
    margin-right: 11%;
    margin-top: 3%;
    position: sticky;
}
.nasha{
	width:5%;
	padding-bottom:3%;
	margin-left:-6%;
}
.saba{
	position:absolute;
	margin-top:-10%;
	margin-left:22%;
	font-size:25px;
}

.img{
	align-items: center;
    margin-left: 19%;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 59%;
    margin-right: auto;
}