.logo{
    width: 50%;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items:center;

}
.li{
    display: inline-block;
    margin-right: 20px;
}
.icon{
    display: inline-block;
    height:20px;
}
.p12{
    width:100%;
    margin-top: 6%;
}
.box {
        position: relative;
        align-content: center;
        margin-left: 10%;
        margin-right: 10%;
}
.METI{
    background-color:#83939B;
    width: 10%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}
.p1234 {
    align-items: center;
    margin-left: 22px;
    /* margin-top: 169px; */
    color: #fff;}
.boxmini{
    background-color:#363E97;
    height: 550px;
}
.boxmi{
    background-color: white;
    height: 300px;
    float: left;
    width: 40%;
    margin-top: 4%;
    margin-left:4%;
    
}
.boxmi1{
    background-color: white;
    height: 300px;
    float: right;
    width: 40%;
    margin-top: 4%;
    margin-right: 4%;
}
.boxp{
    text-align: center;
    padding-top: 25%;
}
.qali{  
    width: 27%;
}
.popo{
    font-size: 28px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.dopo{
    width: 100%;
    background-color: #E6E6E6;
    height: 380px;
}
.popiti{
    float: right;
    width: 339px;
    margin-top: 11%;
}
.kaci{  
    width: 17%;
    margin-left: 4%;
}
.basasa{
    background-color: #fff;
    float: right;
    width: 35%;
    height: 220px;
    margin-right: 5%;
}
.h1{
    text-align: center;
    font-size: 22px;
}
.minibox{
    background-color:#fff;
    width: 35%;
    float: left;
    height: 220px;
    margin-left: 5%;
}
.h2{
    text-align: center;
    font-size: 25px;
}
.qali{  
    width: 22%;
}
.a123{
    color: #363E97;
}
.divikop{
    background-color: #BDCCD4;
     height: 700px;
}
@media only screen and (max-width:1064px) {
    .conteiner{
        width: 1024px;
        background-color: aqua;
    }
    .saba {
        position: absolute;
        margin-top: -12%;
        margin-left: 22%;
        font-size: 20px;
    }
    .minibox {
        background-color: #fff;
        width: 35%;
        float: left;
        height: 160px;
        margin-left: 5%;
    }
    .basasa{
        background-color: #fff;
        width: 35%;
        float: right;
        height: 160px;
        margin-left: 5%;
    }
    .popiti {
        float: right;
        width: 252px;
        margin-top: 11%;
    }
    .p1234 {
        align-items: center;
        margin-left: 6px;
        /* margin-top: 169px; */
        color: #fff;
    }
    }
    @media  (max-width:1020px){
        .conteiner{
            width: 768px;
        }
        .divikop{
            height: 500px;
        }
        .boxmini {
            background-color: #363E97;
            height: 400px;
        }
        .popiti {
            float: right;
            width: 196px;
            margin-top:4%;
        }
        .minibox {
            background-color: #fff;
            width: 35%;
            float: left;
            height: 151px;
            margin-left: 5%;
        }
        .qali {
            width: 23%;
            height: 96px;
        }
    .basasa{
        background-color: #fff;
            width: 35%;
            float: right;
            height: 151px;
            margin-right:5%;
    }
    .dopo {
        width: 100%;
        background-color: #E6E6E6;
        height: 278px;
    }    
    }
    @media  (max-width:767px){
        .conteiner{
            width: 425px;
        }
        .divikop {
            height: 330px;
        }
        .boxmi {
            background-color: white;
            height: 142px;
            float: left;
            width: 90%;
            margin-top: 4%;
            margin-left: 4%;
            display: flex;
            flex-wrap: nowrap;
        }
        .boxb {
            background-color: #363E97;
            height: 297px;
            flex-wrap: wrap;
            display: flex;
        }
        .boxmi1 {
            background-color: white;
            height: 120px;
            float: right;
            width: 90%;
            margin-top: 4%;
            margin-right: 6%;
        }
        .boxp {
            /* padding-top: 9%; */
            text-align: center;
        }
        .p1234 {
            align-items: center;
            margin-left: 0px;
            /* margin-top: 169px; */
            color: #fff;
        }
        .METI {
            background-color: #83939B;
            width: 20%;
            height: 10%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 4%;
        }
        .boxmi {
            background-color: white;
            height: 120px;
            float: left;
            width: 90%;
            margin-top: 4%;
            margin-left: 4%;
            display: flex;
            flex-wrap: nowrap;
        }
        .boxmi1 {
            background-color: white;
            height: 120px;
            float: right;
            width: 90%;
            margin-top: 4%;
            margin-right:6%;
            display: flex;
            flex-wrap: nowrap;
        }
        .minibox {
            background-color: #fff;
            width: 90%;
            float: left;
            height: 151px;
            margin-left: 5%;
        }
        .popiti {
            float: right;
            width: 292px;
            margin-top: 4%;
        }
        .basasa {
            background-color: #fff;
            width: 90%;
            float: right;
            height: 151px;
            margin-right: 5%;
        }
        .basasa {
            background-color: #fff;
            width: 90%;
            float: right;
            height: 151px;
            margin-right: 5%;
            margin-top: 6%;
        }
        .dopo {
            width: 100%;
            background-color: #E6E6E6;
            height: 441px;
        }
        @media  (max-width:423px){
.conteiner{
    width: 375px;
}
.popiti {
    float: right;
    width: 263px;
    margin-top: 7%;
}
@media  (max-width:374px){
    .conteiner{
        width:320px ;
    }
    .popiti {
        float: right;
        width: 225px;
        margin-top: 7%;
    }
    .li{
        display:none;
    }
    .icon{
        display: none;
    }
    .divikop {
        height: 288px;
    }